@import "tailwindcss";

@theme {
  /// NFL Team: San Francisco 49ers light mode
  --color-niners-red: #aa0000;
  --color-niners-gold: #b3995d;
  --color-niners-black: #111111;
  --color-niners-cream: #f7f4ee;
}

@dark-mode: {
  /// NFL Team: San Francisco 49ers dark mode
  --color-niners-night: #0B0B0D;
  --color-niners-graphite: #16161A;
  --color-niners-mist: #EDE7DC;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
